# VM data for manage.ps1
VM_HOST="vm-name"
VM_DATA_PATH="example/path/here"

# Compose name
COMPOSE_PROJECT_NAME=project_epithet

# Neo4j Database Settings
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=

# Data dir

DATA_DIR="data"

# The currently active profiles

PROFILES="example1,example2"